h1 {
  text-align: center;
}

.uploadContainer {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .uploadDescription {
    font-size: 1rem;
    font-weight: bold;
    &::before {
      color: red;
      content: "*";
    }
  }
  // .ant-input, .ant-input-lg, .uploadInput {
  //   width: 60%;
  // }
}
